.container {
  width: 100%;
  padding: 20px;
  overflow-x: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 40px 30px 40px;

  
}

.card {
  flex: 0 1 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-img-top {
  width:auto;
  height: 300px;
  object-fit:cover;
}

.topTemp {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.max {
  color: #e91e63;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.card-title {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.day {
  font-size: 14px;
  color: #888;
}
